*.gem
*.gz
*.bz2
*.wal
.bundle
.DS_Store
.kitchen/
.kitchen.local.yml
.vagrant
vendor/bundle
pkg/*
bin/*
files/**/cache/
vendor/cookbooks
dist/*.json
dist/*.rpm
dist/*.deb
testing/*.log
testing/*.pass
testing/runtest.sh
testing/dist/*.json
testing/dist/*.rpm
testing/dist/*.deb
manual_testing
local.sh
