# Configure line endings for Unix files.
Dockerfile   text eol=lf
Dockerfile.* text eol=lf
Gemfile      text eol=lf
LICENSE      text eol=lf
Makefile     text eol=lf
*.conf       text eol=lf
*.md         text eol=lf
*.patch      text eol=lf
*.py         text eol=lf
*.rb         text eol=lf
*.sh         text eol=lf

# Entire subtrees
netuitive/   text eol=lf
